<nav class="main-header navbar navbar-expand navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">InvestLog Tools</a>
    <ul class="navbar-nav ms-3">
      <li class="nav-item"><a class="nav-link" href="/reverse-dcf/">Reverse DCF</a></li>
      <li class="nav-item"><a class="nav-link" href="/profit-take/">Profit-Taking</a></li>
      <!-- add more tool links here -->
    </ul>
  </div>
</nav>
