<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <a href="/" class="brand-link"><span class="brand-text">InvestLog</span></a>
  <div class="sidebar">
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview">
        <li class="nav-item"><a href="/reverse-dcf/" class="nav-link"><i class="fa fa-chart-line nav-icon"></i><p>Reverse DCF</p></a></li>
        <li class="nav-item"><a href="/profit-take/" class="nav-link"><i class="fa fa-sack-dollar nav-icon"></i><p>Profit-Taking</p></a></li>
      </ul>
    </nav>
  </div>
</aside>
